.vs-alert {
    display:flex;
    align-items:stretch;
    border-radius: $box-border-radius;
    &--error {
        background-color:colour(error);
        color:$white;
    }
    &__content {        
        padding:24px;
    }
    &__icon {
        display:flex;
        align-items:center;
        font-size:40px;
        border-radius: $box-border-radius;
        padding:24px 0px 24px 24px;
    }
}