.vs-btn {
    display:inline-flex;
    align-items:center;
    border-radius:4px;
    line-height:1em;
    padding: 10px 14px;
    font-weight:500;
    cursor:pointer;
    &--fill {        
        color:#fff;
        background-color:$primary;
        border:none;
        box-shadow:0px 2px 5px rgba(0,0,0,.05);
    }
    &--outline {        
        color:$primary;
        border:2px solid $primary;
        background:none;
    }
    &__icon {
        margin-right:4px;
        font-size:20px;
    }
}