.vs-stat {    
    border: 2px solid colour(box-border);
    border-radius: $box-border-radius;
    background:colour(box-body);
    display:inline-flex;
    padding:28px 32px;
    margin:0 auto;
    align-items:center;
    flex-direction:column;
    &__title {
        font-size:20px;
        margin-bottom:20px;
    }
    &__value {
        font-size:30px;
        font-weight:600;
        margin-bottom:16px;
        color:colour(price);
    }
    &__change {
        display:flex;
        align-items:center;
        flex-direction:column;
        line-height:1em;
        font-size:18px;
        vertical-align:middle;
        &--good {
            color:rgb(58, 167, 73);
        }
        &--bad {
            color:rgb(185, 68, 68);
        }
        &--neutral {
            color:colour(subtext);
        }
        > .material-icons-round {
            font-size:22px;
            margin-left:2px;
        }
    }
}

.vs-box {
    $self: &;
    border: 2px solid colour(box-border);
    max-height: 100%;
    border-radius:4px;
    background:colour(box-body);
    &__controls {
        margin-bottom:20px;
    }
    &__title {
        padding: 22px 28px 16px 28px;
        margin-top:0;
        border-bottom:2px solid colour(box-border);
        margin-bottom:18px;       
        font-size:20px;
        font-weight:$fw-vs-title;
    }
    &__body {   
        padding: 0px 28px 22px 28px;
    }
}

.vs-stock-card{
    background:colour(box-body);
    width: 100%;
    color:inherit;
    border: 2px solid colour(box-border);
    align-items: stretch;
    margin:0;
    border-radius: $box-border-radius;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
    cursor:pointer;
    @include hover-focus-active {
        color:inherit;
        transform:translateY(-4px);
    }
    &__symbol {
        font-size:12px;
        color:colour(subtext);
        font-weight:600;
    }
    &__price {
        font-size:24px;
        font-weight: $fw-vs-stock-card-price;
        color:colour(price);
        margin: 16px 0;
        display:block;
        @include media-desktop {
            margin: 28px 0;
            font-size:26px;
        }
    }
    &__head {
        padding:24px 12px;
        text-align:center;
        display:flex;
        flex-grow:1;
        flex-direction:column;
        align-items:center;
        @include media-desktop {
            padding:50px 24px;
        }
    }
    &__title {
        display:block;
        font-size:16px;
        margin: 6px 0 0 0;
        font-weight:$fw-vs-stock-card-title;
        text-align:center;
        @include media-desktop {
            font-size:20px;
        }
    }
    &__change {
        display:flex;
        align-items:center;
        flex-direction:column;
        line-height:1em;
        font-size:18px;
        vertical-align:middle;
        &--good {
            color:rgb(58, 167, 73);
        }
        &--bad {
            color:rgb(185, 68, 68);
        }
        &--neutral {
            color:colour(subtext);
        }
        > .material-icons-round {
            font-size:22px;
            margin-left:2px;
        }
    }
}