.vs-chip {
    display:inline-flex;
    align-items:center;
    border-radius:32em;
    padding:12px 24px;
    border:1.75px solid $subtext;
    color:$subtext;
    background-color: transparentize($subtext, .8);
    line-height:1em;
    font-weight:$fw-vs-chip;
    font-size:13px;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
    &--primary {
        background-color:transparentize($primary, .9);
        color: $primary !important;
        border-color:$primary;
    }
    &--small {
        padding:8px 16px;
        font-size:12px;
    }
    &__icon {
        font-size:20px;
        line-height:0;
        margin-right:6px;
        margin-left:-2px;
    }
}