.vs-header {
    $self: &;
    padding: 16px 32px;
    display:flex;
    height:$header-height;
    justify-content:center;
    align-items:center;
    margin-bottom:24px;
    @include media-breakpoint-up(md) {     
        box-shadow:none;   
        margin-left:$sidebar-width;
        padding: 16px 32px;
        background:none;
        margin-bottom:0px;
    }
    &__avatar {
        position:absolute;
        top:12px;
        right: 12px;
        display:flex;
        justify-content:center;
        align-items:center;
        @include media-breakpoint-up(md) {   
            right: 32px;         
            top:16px;
            top:0;
            right: 0;
            position:relative;
            margin-left:auto;
        }
        > img {
            z-index:1;
            position:relative;
            display:block;
            border-radius:100%;
            width:34px;
            height:34px;
        }
        &:before {
            z-index:0;
            position:absolute;
            content:"";
            background-color:transparentize($primary,.8);
            width:46px;
            height:46px;
            border-radius:100%;
            opacity:0;
            transition: opacity .2s ease-in-out;
        }
        @include hover-focus-active {
            &:before {
                opacity:1;
            }
        }
    }
}