.vs-header {
    $self: &;
    margin-left:$sidebar-width;
    padding: 16px 32px;
    display:flex;
    &__avatar {
        margin-left:auto;
        display:flex;
        justify-content:center;
        align-items:center;
        position:relative;
        > img {
            z-index:1;
            position:relative;
            display:block;
            border-radius:100%;
            width:34px;
            height:34px;
        }
        &:before {
            z-index:0;
            position:absolute;
            content:"";
            background-color:transparentize($primary,.8);
            width:46px;
            height:46px;
            border-radius:100%;
            opacity:0;
            transition: opacity .2s ease-in-out;
        }
        @include hover-focus-active {
            &:before {
                opacity:1;
            }
        }
    }
}