.vs-main {
    overflow:auto;
    overflow-x: hidden;
    margin:0 auto;
    padding: 0px 8px;
    transition: margin-left .5s ease-in-out;
    margin-left:0px;
    @include media-breakpoint-up(md) {
        margin-left:$sidebar-width;
        padding: 0px 40px;
    }
}