.vs-news-card {
    display:flex;
    border-radius:$box-border-radius;
    overflow:hidden;
    background:colour(box-body);
    flex-direction:column;
    @include media-desktop {
        flex-direction:row;
    }
    &__img {
        height:200px;
        @include media-desktop {
            height:auto;
            flex-basis:40%;
        }
        display:block;
        background-size:cover;
        background-position:center;
    }
    &__body {
        padding:24px;
        flex-basis:60%;
        flex-grow:1;
    }
    &__source {
        color:colour(subtext);
        text-transform:uppercase;
        font-size:11px;
        font-weight:$fw-vs-news-source;
    }
    &__title {
        color:inherit;
        font-weight:$fw-vs-news-title;
        @include hover-focus-active {
            text-decoration:underline;
        }
    }
    &__summary {
        color:colour(subtext);
        font-size:13px;
        padding: 8px 0;
    }
    &__date {
        color:colour(subtext);
        font-size:12px;
    }
}

.vs-news-substory {
    background: colour(box-body);
    border-radius:8px;
    width:200px;
    min-width:200px;
    padding: 12px;
    &:not(:last-child) {        
        margin-right: 16px;
    }
    @include media-desktop {
        min-width:unset;
        width:auto;
    }
    &__title {
        font-size:14px;
        color: colour(text);
        font-weight:600;
        display:block;
    }
    &__source {
        color: colour(subtext);
        text-transform:uppercase;
        font-size:12px;
    }
    &__img {
        margin-bottom:12px;
        display:block;
        height:100px;
        background-repeat:no-repeat;
        background-size:cover;
    }
}

.vs-news-substories {
    display:flex;
    overflow-x: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.vs-news-hero {
    border-radius:8px;
    display: block;
    position:relative;
    overflow:hidden;
    &__img {
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        display:block;
        height:400px;
        width:100%;
    }
    &:before {
        z-index:1;
        content:"";
        width:100%;
        height:100%;
        position:absolute;
        bottom:0;
        background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.9));
    }
    &__info {
        position:absolute;
        bottom:0;
        z-index:2;
        display:flex;
        flex-direction:column;
        padding:24px;
    }
    &__title {
        font-size:20px;
        color:#fff;
        font-weight:600;
    }
    &__source {
        color:#fff;
        font-size:11px;
        text-transform:uppercase;
    }
    &__p {
        color:colour(grey);
        margin-top:8px;
    }
}

.vs-news {
    padding: 26px 0;
    position:relative;
    &:first-child {
        padding-top: 0;
    }
    &:not(:last-child) {
        padding-bottom: 21px;
        &:after {
            height:1px;
            content:"";
            display:block;
            margin: 0 auto;
            position:absolute;
            left:0;
            right:0;
            bottom: 0px;
            width:60%;
            background-color:colour(divider);
        }
    }
    &__source {
        color:colour(subtext);
        text-transform:uppercase;
        font-size:11px;
        font-weight:$fw-vs-news-source;
    }
    &__title {
        color:inherit;
        font-weight:$fw-vs-news-title;
        @include hover-focus-active {
            text-decoration:underline;
        }
    }
    &__summary {
        color:colour(subtext);
        font-size:13px;
        padding: 8px 0;
    }
    &__date {
        color:colour(subtext);
        font-size:12px;
    }
}