.vs-news {
    padding: 24px 0;
    position:relative;
    &:first-child {
        padding-top: 0;
    }
    &:not(:last-child) {
        padding-bottom: 21px;
        &:after {
            height:1px;
            content:"";
            display:block;
            margin: 0 auto;
            position:absolute;
            left:0;
            right:0;
            bottom: 0px;
            width:60%;
            background-color:#f1f1f1;
        }
    }
    &__source {
        color:#999;
        text-transform:uppercase;
        font-size:11px;
        font-weight:500;
    }
    &__title {
        color:inherit;
        font-weight:500;
        @include hover-focus-active {
            text-decoration:underline;
        }
    }
    &__summary {
        color:#999;
        font-size:13px;
        padding: 8px 0;
    }
    &__date {
        color:#999;
        font-size:14px;
    }
}