.vs-sidebar {
    $self: &;
    z-index:10;
    &:before {
        z-index:9;
        position:fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-color:#000;
        content:"";
        pointer-events:none;
        opacity:0;
        transition: opacity .5s ease-in-out;
    }
    &__toggle {
        position:absolute;
        font-weight:600;
        top:18px;
        left:18px;
        display:inline-flex;
        z-index:11;
        align-items:center;
        justify-content:center;
        background:none;
        border:none;
        padding:0;
        opacity:1;
        pointer-events:auto;
        transition: opacity .5s ease-in-out, left .5s ease-in-out;
        @include media-desktop {
            left:40px;
            pointer-events:none;
            opacity:0;          
            transition: none;          
        }
    }
    &__inner {
        background:colour(body);
        position:fixed;
        z-index:9;
        display:flex;
        flex-direction:column;
        align-items:center;
        left:0;
        top:0;
        bottom:0;
        height:100%;
        width:80%;
        border-right:1.5px solid colour(box-body);
        transition: transform .5s ease-in-out, opacity .5s .5s ease-in-out;
        transform: translateX(-100%);
        opacity:0;
        @include media-desktop {
            transition: none;
            transform: translateX(0%);
            opacity:1;
            width:$sidebar-width;
        }
    }
    &--visible {
        #{$self}__toggle {            
            left:calc(80% + 20px);
            color:#fff;
            position:fixed;
        }
        #{$self}__inner {
            @include media-breakpoint-down(md) {
                transform: translateX(0%);
                transition: transform .5s ease-in-out, opacity 0s ease-in-out;
                opacity:1;
            }
        }
        &:before {
            @include media-breakpoint-down(md) {
                opacity:.5;
            }
        }
    }
    &__links {
        font-weight:$fw-vs-sidebar-link;
    }
    &__search {
        display:flex;
        align-items:center;
        position:relative;
        justify-content:center;
        color:colour(subtext);
        margin:0 28px 30px 28px;
        &__input {
            padding: 16px 16px 16px 74px;
            border-radius:$box-border-radius;
            border: 2px solid colour(box-border);
            font-size:16px;
            max-width:100%;
            width:100%;
            transition: border-color .2s;
            @include hover-focus-active {
                border-color:colour(primary);
            }
        }
        &__icon {
            position:absolute;
            left:30px;
            top:0;
            bottom:0;
            display:flex;
            justify-content:center;
            align-items:center;
        }
    }
    &__link {        
        vertical-align:middle;
        padding:16px 40px 16px 0;
        display:flex;
        align-items:center;
        color:colour(subtext) !important;
        line-height:1em;
        &--active {
            font-weight:$fw-vs-sidebar-active-link;
            color:colour(text) !important;
            #{$self}__link__icon {                
                color:colour(primary);
            }
        }
        &,&__icon {
            vertical-align:middle;
        }
        &__icon {
            margin-right:20px;
        }
    }
    &__logo {
        padding:30px;
        &__img {
            height:30px;
        }
    }
}