.vs-neo-tabs {
    position:relative;
    &__tab {
        text-transform:uppercase;
        position:relative;
        background:none;
        border:none;
        padding:12px 12px;
        &--active {
            color:coloor(primary);
            border-bottom:1.75px solid colour(primary);
        }
        &--error {            
            color:colour(error);
            border-bottom:1.75px solid colour(error);
        }
    }
    &:before {
        border-bottom:1.75px solid colour(box-border);
        width:100%;
        content:"";
        position:absolute;
        bottom:0;
        left:0;
        right:0;
    }
}