.vs-stock-row {
    $self: &;
    line-height:1em;
    &--good {
        #{$self}__change {
            color:rgb(58, 167, 73);
        }
    }
    &--bad {
        #{$self}__change {
            color:rgb(185, 68, 68);
        }
    }
    &--neutral {
        #{$self}__change {
            color:$subtext;
        }
    }
    > * {
        padding: 8px 0;
    }
    > *:not(:last-child) {
        padding-right:16px;
    }
    &__title {
        display:block;
        white-space:nowrap;
        line-height:1.3em;
        font-weight:$fw-vs-stock-row-title;
        color:inherit;
    }
    &__subtitle {
        display:block;
        color:$subtext;
        font-size:12px;
    }
    &__price {     
        color:$price;
    }
    &__number {
        color:$subtext;
    }
    &__change {
        vertical-align:middle;
        display:inline-flex;
        width:100%;
        white-space:nowrap;
        align-items:center;
        line-height:1em;
        font-size:14px;
        > .material-icons-round {
            font-size:18px;
            margin-left:2px;
        }
    }
}