$primary: #3fa9f5;
$error: #ff4f4f;
$dark-box-shadow-colour: rgb(196, 218, 240);
$title: #fff;
$text: #597da7;
$body: #0f1420;
$box-body: #1d2538;
$box-border: #273149;
$grey: #999;
$subtext: #5a6f86;
$divider: #283642;
$price: #fff;
$modal: #151c2c;
$box-border-radius: 6px;
$header-height: 66px;

// font-weights
$fw-header: 600; 
$fw-base:500;
$fw-vs-title:600;
$fw-vs-subtitle:300;
$fw-vs-stock-row-title:600;
$fw-vs-sidebar-active-link: 600;
$fw-vs-sidebar-link:500;
$fw-vs-news-title:600;
$fw-vs-news-source:500;
$fw-vs-field-label:600;
$fw-vs-chip: 500;
$fw-vs-stock-card-title:600;
$fw-vs-stock-card-price:600;
$fw-vs-add-card:600;
$fw-button:500;
$fw-zebra-odd:400;
$fw-zebra-even:$fw-vs-title;

// sidebar
$sidebar-width: 275px;