body{
    overflow-x:hidden;
    background:colour(body);
}
input,textarea,select {
    background:colour(box-body);
    border: 2px solid colour(box-border);
    color:colour(text);
    &::placeholder {
        color:colour(subtext);
    }
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.vs-app,.vs-body,body {
    min-height:100vh;
}
select {
    cursor:pointer;
}
button {
    cursor:pointer;
    > * {
        pointer-events:none;
    }
}
a {
    text-decoration:none;
    &:active {
        color:colour(primary-darker);
    }
    &:visited {
        color:inherit;
    }
}

img {
    display:block;
    max-width:100%;
}

* {
    box-sizing:border-box;
    @include hover-focus-active {
        outline:none;
    }
}
body,html {
    margin:0;
    width:100%;
    max-width:100%;
}

h1,h2,h3,h4,h5,h6{
    margin:.2em 0;
    font-weight:$fw-header;
}

ul {
    margin:0;
    list-style-type:none;
    padding:0;
}
dd {
    margin:0;
    padding:0;
}

@include hover-focus-active {
    *{
        outline:none !important;
    }
}

p {
    margin:0;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    height:6px;
}

/* Track */
::-webkit-scrollbar-track {
background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: colour(text);
border-radius:32px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: colour(text-darker);
}