@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900|Material+Icons+Round);
$font-family: "Poppins", sans-serif;
$header-font-family: "Poppins", sans-serif;
body,button,input,select,form,tr,td,table{
    font-family:$font-family;
}
body{
    font-size:16px;
    //color:#202a35;
    color:#3b464d;
}
body,button{    
    line-height:1.5em;
}
.vs-title {
    display:flex;
    align-items:center;
    font-size:32px;
    margin-bottom: 40px;
    margin-top: 10px;
    &__icon {
        margin-right:8px;
        font-size:35px;
    }
}