@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900|Material+Icons+Round);
$font-family: "Poppins", sans-serif;
$header-font-family: "Poppins", sans-serif;
body,button,input,select,form,tr,td,table{
    font-family:$font-family;
}
body{
    font-size:16px;
    color:#3b464d;
}
body,button{    
    line-height:1.5em;
}
.vs-title {
    @extend .font-weight-zebra;
    font-size:32px;
    margin-bottom: 32px;
    margin-top: 10px;
    font-weight:500;
    &__icon {
        margin-right:8px;
        font-size:35px;
    }
}
.vs-subtitle {
    color:#999;
    font-size:22px;
    margin-top:-12px;
    font-weight:300;
    margin-bottom:32px;
}

.font-weight-zebra {
    > :nth-child(odd) {
        font-weight:400;
    }
    > :nth-child(even) {
        font-weight:600;
    }
}